:root{
    --purple500:#281154;
    --purple300:#270082;
    --red600:#dc0000;
    --body:#f9f6ff;
    --max-width:1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
header{
    background-color: var(--purple300);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1.25em 0;
}
.logo{
    font-size: 2rem;
    font-weight: 600;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul li{
    border-bottom: 2px solid transparent;
    transition: .3s ease-in;
}
nav ul li:hover{
    border-bottom: 2px solid #fff;
    transition: .3s ease-in;
}
.hero-section{
    background-image: url(./images/main1.jpg);
    height: 100vh;
    color: #fff;
    display: grid;
    place-items: center;
    text-align: center;
}
.hero-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-section h1{
    font-size: 6rem;
}
.hero-section h3{
    font-size: 2rem;
} 
.music-section{
    padding-top: 3.1em;
    background: var(--purple500);
}
.music-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.ipad-iphone-img{
    margin-top: -100px;
    position: relative;
    top: 100px;
}
button{
    padding: .625em .9em;
    border: none;
    transition: .2s ease-in-out;
    text-transform: capitalize;
}
button:hover{
    opacity: 0.8;
    transition: .2s ease-in-out;
}
.primary-btn{
    background: var(--red600);
    color: #fff;
}
.secondary-btn{
    background: var(--purple300);
    color: #fff;
}
.about-music{
    padding-top: 12.5em;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 3em;
}
.video-section{
    background-image: url(./images/main1.jpg);
    min-height: 800px;
    display: grid;
    place-items: center;
    color: #fff;
    text-align: center;
}
.video-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -100px;
}
.hero-section,
.video-section{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gift-section{
    display: flex;
    justify-content: center;
    margin: 6.25em 0;
    gap:50px ;
}
.gift-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-upper{
    background-color: var(--purple500);
    padding: 1.25em ;
}
.footer-upper .container{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer-upper h4{
    padding-bottom: .625em;
    border-bottom: 2px solid #fff;
    margin-bottom: .625em;
}
.footer-lower{
    background-color: var(--purple300);
    display: flex;
    justify-content: center;
    padding: 1.25em;
    color: #fff;
}
